PARTIE_2_ClassificationComposants/3-NodeRED/flows.json
[
    {
        "id": "00ca94fd68b1165e",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4263f6844856206",
        "type": "serial in",
        "z": "00ca94fd68b1165e",
        "name": "",
        "serial": "d4bf8aebb3a76be1",
        "x": 80,
        "y": 200,
        "wires": [
            [
                "dcb6082397f1f4a6"
            ]
        ]
    },
    {
        "id": "6870fdfd3c6289a1",
        "type": "json",
        "z": "00ca94fd68b1165e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "2acbbd31f8a2ab03",
                "39a56649b2e98a7e",
                "272910c2a15dbcc9"
            ]
        ]
    },
    {
        "id": "9a46ad51f864daa9",
        "type": "debug",
        "z": "00ca94fd68b1165e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "dcb6082397f1f4a6",
        "type": "switch",
        "z": "00ca94fd68b1165e",
        "name": "filtre",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "EI:",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "8e01c5fe459d438e"
            ]
        ]
    },
    {
        "id": "8e01c5fe459d438e",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "EI:",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "6870fdfd3c6289a1"
            ]
        ]
    },
    {
        "id": "2acbbd31f8a2ab03",
        "type": "function",
        "z": "00ca94fd68b1165e",
        "name": "function 1",
        "func": "const seuil = 0.80; // ajuste si besoin\nconst label = msg.payload.winner;\nconst prob  = msg.payload.prob;\n\nlet counts = flow.get(\"counts\") || {\n  Background: 0,\n  Led: 0,\n  PushButton: 0,\n  Resistor: 0\n};\n\n// On compte uniquement si la prédiction est assez sûre\nif (prob >= seuil && counts[label] !== undefined) {\n  counts[label] += 1;\n}\n\nflow.set(\"counts\", counts);\n\n// On renvoie les compteurs pour debug/dashboard\nmsg.payload = {\n  ...counts,\n  last: label,\n  lastProb: prob\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "9a46ad51f864daa9",
                "8266fe48459ce9c8",
                "1962b7fa47933c70",
                "59c540190ad9a35b",
                "0baa6a998d8feaae"
            ]
        ]
    },
    {
        "id": "734e174c1540886b",
        "type": "ui_text",
        "z": "00ca94fd68b1165e",
        "group": "aaf4f615308cf66d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Led",
        "label": "Led",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "Led",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "af8a799409fbae5e",
        "type": "ui_text",
        "z": "00ca94fd68b1165e",
        "group": "aaf4f615308cf66d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Background",
        "label": "Background",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "Background",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "25f02167e3170fb4",
        "type": "ui_text",
        "z": "00ca94fd68b1165e",
        "group": "aaf4f615308cf66d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "PushButton",
        "label": "PushButton",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "PushButton",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "8266fe48459ce9c8",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Led",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 340,
        "wires": [
            [
                "734e174c1540886b"
            ]
        ]
    },
    {
        "id": "1962b7fa47933c70",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Background",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 420,
        "wires": [
            [
                "af8a799409fbae5e"
            ]
        ]
    },
    {
        "id": "59c540190ad9a35b",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PushButton",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "25f02167e3170fb4"
            ]
        ]
    },
    {
        "id": "0baa6a998d8feaae",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Resistor",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "20b691073fb5ab9d"
            ]
        ]
    },
    {
        "id": "20b691073fb5ab9d",
        "type": "ui_text",
        "z": "00ca94fd68b1165e",
        "group": "aaf4f615308cf66d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Resistor",
        "label": "Resistor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "Resistor",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "89547e3ca90b794a",
        "type": "ui_gauge",
        "z": "00ca94fd68b1165e",
        "name": "Prob",
        "group": "b8b6fd2dfdd7fdc7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Probability",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "606a0d7a8672c266",
        "type": "ui_text",
        "z": "00ca94fd68b1165e",
        "group": "b8b6fd2dfdd7fdc7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Winner",
        "label": "Winner",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "39a56649b2e98a7e",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.winner",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 100,
        "wires": [
            [
                "606a0d7a8672c266"
            ]
        ]
    },
    {
        "id": "272910c2a15dbcc9",
        "type": "change",
        "z": "00ca94fd68b1165e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.prob",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "89547e3ca90b794a"
            ]
        ]
    },
    {
        "id": "3fe71ad67a89b5c7",
        "type": "ui_button",
        "z": "00ca94fd68b1165e",
        "name": "Reset",
        "group": "8a759031c33442aa",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 40,
        "wires": [
            [
                "d9445ef3e79dfbad"
            ]
        ]
    },
    {
        "id": "d9445ef3e79dfbad",
        "type": "function",
        "z": "00ca94fd68b1165e",
        "name": "function 2",
        "func": "flow.set(\"counts\", {\n  Background: 0,\n  Led: 0,\n  PushButton: 0,\n  Resistor: 0\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d4bf8aebb3a76be1",
        "type": "serial-port",
        "name": "Myserial",
        "serialport": "COM7",
        "serialbaud": "115200",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "aaf4f615308cf66d",
        "type": "ui_group",
        "name": "Counter",
        "tab": "cfaa88c368c65d10",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8b6fd2dfdd7fdc7",
        "type": "ui_group",
        "name": "Predicted",
        "tab": "cfaa88c368c65d10",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a759031c33442aa",
        "type": "ui_group",
        "name": "Reset",
        "tab": "cfaa88c368c65d10",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cfaa88c368c65d10",
        "type": "ui_tab",
        "name": "Components",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50958024591cf543",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]